<!doctype html>
<html>

<head>

    <meta charset="utf-8">
    <title>Death Clock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="first" style="margin-top: 0%">
        <h1>Death Date Generator</h1>

    </div>
    <pre>
x x x x x x x x x xxxxxx x x x x x x x x x
x............................................x
x............................................x
x............................................x
x............................................x
x............................................x
x............................................x
x............................................x
x............................................x
x............................................x
x............................................x
x............................................x
x......xxx........................xxx........x
x....xxxxxxx....................xxxxxxx......x
x...xxxxxxxxx..................xxxxxxxxx.....x
x....xxxxxxx....................xxxxxxx......x
x......xxx........................xxx........x
x.................xxx..xxx...................x
x.................xxx..xxx...................x
x.................xxx..xxx...................x
x............................................x
x...........................................x
x x x x ......................... x x x x
x........................x
x........................x
x........................x
x....x....x....x....x....x
x....x....x....x....x....x
x....x....x....x....x....x
x....x....x....x....x....x
x...x....x....x....x...x
x x x x x x x x x x x
    </pre>
    <div class="first second">
        {% block content %}{% endblock %}
    </div>
</body>

</html>